/* START CSS */

body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

#container-3 {
	margin-top: -50px;
	margin-bottom: -90px;
}

#main-body {
	width: 100%;
	height: 500px;
	
}

#start-button {
	background-color: black;
	color: white;
	width: 405px;
	height: 40px;
	margin-left: 105px;
	margin-top: -200px;
}

#main-container {
	margin: 10px;
	width: 99%;
	height: 80%;
	background-image: url("background4.jpg");
	background-repeat: no-repeat;
	/*border-style: dashed;*/
	border-width: 3px;
	border-color: black;
	

}
#container {
	overflow: hidden;
	margin-top: 107px;
	padding: 0;
	background-color: ;
	width: 500px;
	

}


#javascript {
	margin-left: 135px;
	margin-top: 130px;
}

 #javascript:hover {
	width: 100px;
	height: 100px;
}

#james {
	margin-left: 25px;
	margin-top: 130px;
}

 #james:hover {
	width: 100px;
	height: 100px;
}

#hamlet {
	margin-left: 30px;
	margin-top: 130px;
}


 #hamlet:hover {
	width: 100px;
	height: 100px;
}



#holes {
	margin-bottom: -120px;
	margin-left: 135px;
}

 #holes:hover {
	width: 100px;
	height: 100px;
}

#clifford {
	margin-bottom: -120px;
	margin-left: 25px;
}

 #clifford:hover {
	width: 100px;
	height: 100px;
}

#journal {
	margin-bottom: -120px;
	margin-left: 25px;
}

 #journal:hover {
	width: 100px;
	height: 100px;
}

/*img {
	border-style: solid;
	border-color: black;
	border-width: 3px;
}*/

#welcome {
	background-color: ;
	margin-top: -450px;
	margin-right: 500px;
	float: right;
	text-align: center;
}

h1 {
	font-size: 60px;
	font-weight: bold;
	
}

h3 {
	font-size: 20px;


}

.letter {
	color: red;
	border-bottom: solid;
	border-color: black;
}

#your{
	color: grey;
}
/* for header*/

#flipbook {
	margin-top: -00px;
	overflow: hidden;
	/*width: 800px;
	height: 600px;*/ 	
	text-align: center;
	background-color: black;
	border-style: ridge;
	border-width: 5px;
	border-color: white;
	color: white;
}


p {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 5px;
	text-align: left;
}

.page {
width: 300px;
height: 500px;
background-color: #e6eeff;
background-repeat: no-repeat;
background-size: 100% 100%;
color: black;
}

#page-2 {
	background-color: yellow;
}

#flipbook iframe {
	margin: 0 auto;
	padding: 100px;
}

/* CSSS FOR INDEX-2.HTML,*/

#main-page {
	background-image: url("background3.jpg");
	height: 900px;
	width: 100%;
}

#main-header {
	background-color: ;
	height: 200px;
	width: 96%;
}


#main-box {
	background-color:;
	width: 500px;
	height: 500px;
	color: black;

}

#recieve-text {
	max-width: 400px;
	height: 400px;
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}


#text-area , #text-for-image {
	width: 400px;
	height: 34px;
	background-color: grey;
	margin-left: 5px;

}



#text-for-image {
	background-color: white;
	color: black;
}

.panel.panel-default {
	width: 950px;
}

